/* Para resetear el browser */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

.contenedor {
    position: relative;
    width: 1024px;
    height: 768px;
    /*background-image: url(../images/fondohuellas1.svg);*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    /*border: black 1px solid;*/
}

.cuerpo {
    position: absolute;
    width: 1024px;
    height: 698px;
    left: 0px;
    top: 70px;
    background: rgba(217, 220, 222, 0.3);
}

/*******************************HEADER**********************************************/

header {
    position: absolute;
    width: 1024px;
    height: 70px;
    left: 0px;
    top: 0px;
    background: #FFFFFE;
}

.logo1 {
    position: absolute;
    width: 52px;
    height: 52px;
    left: 17px;
    top: 4px;
    cursor: pointer;
}

.vasanet {
    position: absolute;
    width: 40px;
    height: 12px;
    left: 24.28px;
    top: 54.7px;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10.2267px;
    line-height: 12px;
    /* identical to box height */
    color: #4969D9;
}

.lupa1 {
    position: absolute;
    width: 20px;
    height: 16px;
    left: 349px;
    top: 27px;
    cursor: pointer;
}

.inputBuscador {
    position: absolute;
    width: 300px;
    height: 31px;
    left: 89px;
    top: 19.5px;
    background: rgba(217, 220, 222, 0.5);
    border-radius: 5px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    
}

.inputBuscador::-webkit-input-placeholder {
    position: absolute;
    left: 20px;
    top: 6.5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
}


.iconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 465.49px;
    height: 41.7px;
    left: 542px;
    top: 14px;
    
}

.iconos #usuario {
    position: absolute;
    width: 41.7px;
    height: 41.7px;
    left: 336.72px;
    top: 0px;
    border-radius: 100.087px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 9.28602px;
    cursor: pointer;
}

.iconos #leoEsains1 {
    position: absolute;
    width: 67.79px;
    height: 16.71px;
    left: 384.71px;
    top: 12.49px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13.929px;
    line-height: 16px;
    /* identical to box height */
    text-align: center;
    color: rgba(37, 38, 38, 0.5);
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 9.28602px;
    cursor: pointer;
}

.iconos .inicio {
    position: absolute;
    width: 34.36px;
    height: 34.36px;
    left: 0%;
    top: 3.67px;
    cursor: pointer;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.iconos .chat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 34.36px;
    height: 34.36px;
    left: 114.36px;
    top: 3.67px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.iconos .notificacion {
    position: absolute;
    left: 49.13%;
    right: 42.7%;
    top: 4.44%;
    bottom: 4.44%;
    cursor: pointer;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.indicadorPagina {
    position: absolute;
    width: 34.36px;
    height: 0px;
    left: 0px;
    top: 43.3px;
    border: 3px solid #4969D9;
}

/***********************************SOLICITUDES PENDIENTES**************************************/

.solicitudes {
    position: absolute;
    width: 223px;
    height: 350px;
    left: 17px;
    top: 17px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #FFFDFD;
    border-radius: 5px;
}

.solicitudes .textoSolicitudes {
    position: absolute;
    width: 193px;
    height: 21px;
    left: 15px;
    top: 15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #252626;
}

.imagenSeba img {
    position: absolute;
    width: 43px;
    height: 43px;
    left: 15px;
    top: 47px;
    border-radius: 320px;
}

.imagenSeba .nombre {
    position: absolute;
    left: 63px;
    top: 49.5px;

    font-family: Roboto;
    font-style: normal;
    /*font-weight: bold;*/
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #877F7F;
}


.imagenSeba .semanas {
    position: absolute;
    left: 63px;
    top: 70.5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14.386px;
    line-height: 17px;
    /* identical to box height */
    color: #9A8F8F;
}

.imagenSeba .botonAceptar {
    position: absolute;
    width: 50px;
    height: 13px;
    left: 158px;
    top: 88px;
    background: #4969D9;
    border-radius: 3px;
}

.imagenSeba .botonAceptar .textoAceptar {
    position: absolute;
    left: 8px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFBFB;
}

.imagenCuervo img {
    position: absolute;
    width: 43px;
    height: 43px;
    left: 15px;
    top: 126px;
    border-radius: 320px;
}

.imagenCuervo .nombre {
    position: absolute;
    left: 63px;
    top: 128.5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #877F7F;
}

.imagenCuervo .semanas {
    position: absolute;
    left: 63px;
    top: 149.5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14.386px;
    line-height: 17px;
    /* identical to box height */
    color: #9A8F8F;
}

.imagenCuervo .botonEliminar {
    position: absolute;
    width: 50px;
    height: 13px;
    left: 103px;
    top: 167px;
    background: rgba(229, 36, 36, 0.8);
    border-radius: 3px;
}

.imagenCuervo .botonEliminar .textoEliminar {
    position: absolute;
    left: 7px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFBFB;
}

.imagenCuervo .botonAceptar {
    position: absolute;
    width: 50px;
    height: 13px;
    left: 158px;
    top: 167px;
    background: #4969D9;
    border-radius: 3px;
}

.imagenCuervo .botonAceptar .textoAceptar {
    position: absolute;
    left: 8px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFBFB;
}

.imagenOmar img {
    position: absolute;
    width: 43px;
    height: 43px;
    left: 15px;
    top: 205.5px;
    border-radius: 320px;
}

.imagenOmar .nombre {
    position: absolute;
    left: 63px;
    top: 207px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #877F7F;
}

.imagenOmar .semanas {
    position: absolute;
    left: 63px;
    top: 228px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14.386px;
    line-height: 17px;
    /* identical to box height */
    color: #9A8F8F;
}

.imagenOmar .botonEliminar {
    position: absolute;
    width: 50px;
    height: 13px;
    left: 103px;
    top: 245.5px;
    background: rgba(229, 36, 36, 0.8);
    border-radius: 3px;
}

.imagenOmar .botonEliminar .textoEliminar {
    position: absolute;
    left: 7px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFBFB;
}

.imagenOmar .botonAceptar {
    position: absolute;
    width: 50px;
    height: 13px;
    left: 158px;
    top: 245.5px;
    background: #4969D9;
    border-radius: 3px;
}

.imagenOmar .botonAceptar .textoAceptar {
    position: absolute;
    left: 8px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFBFB;
}

.imagenPaz img {
    position: absolute;
    width: 43px;
    height: 43px;
    left: 15px;
    top: 283.25px;
    border-radius: 320px;
}

.imagenPaz .nombre {
    position: absolute;
    left: 63px;
    top: 287.25px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #877F7F;
}

.imagenPaz .semanas {
    position: absolute;
    left: 63px;
    top: 308.25px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14.386px;
    line-height: 17px;
    /* identical to box height */
    color: #9A8F8F;
}

.imagenPaz .botonEliminar {
    position: absolute;
    width: 50px;
    height: 13px;
    left: 103px;
    top: 325.75px;
    background: rgba(229, 36, 36, 0.8);
    border-radius: 3px;
}

.imagenPaz .botonEliminar .textoEliminar {
    position: absolute;
    left: 7px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFBFB;
}

.imagenPaz .botonAceptar {
    position: absolute;
    width: 50px;
    height: 13px;
    left: 158px;
    top: 325.75px;
    background: #4969D9;
    border-radius: 3px;
}

.imagenPaz .botonAceptar .textoAceptar {
    position: absolute;
    left: 8px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFBFB;
}

/*********************************GRUPOS RECOMENDADOS********************************************/

.grupos {
    position: absolute;
    width: 223px;
    height: 283px;
    left: 17px;
    top: 398px;
    background: #FFFDFD;
    border-radius: 5px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.grupos .textoGrupos {
    position: absolute;
    width: 193px;
    height: 21px;
    left: 15px;
    top: 15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #252626;
}

.pequeñosAnimales img {
    position: absolute;
    width: 43px;
    height: 43px;
    left: 15px;
    top: 59.62px;
    border-radius: 100px;
}

.pequeñosAnimales .nombre {
    position: absolute;
    left: 63px;
    top: 62.17px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #877F7F;
}

.pequeñosAnimales .miembros {
    position: absolute;
    left: 63px;
    top: 83.17px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14.386px;
    line-height: 17px;
    /* identical to box height */
    color: #9A8F8F;
}

.pequeñosAnimales .botonUnirme {
    position: absolute;
    width: 50px;
    height: 13px;
    left: 158px;
    top: 99.01px;
    background: #4969D9;
    border-radius: 3px;
}

.pequeñosAnimales .botonUnirme .textoUnirme {
    position: absolute;
    left: 9px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFBFB;
}

.perrosPequeños img {
    position: absolute;
    width: 43px;
    height: 43px;
    left: 15px;
    top: 137px;
    border-radius: 100px;
}

.perrosPequeños .nombre {
    position: absolute;
    left: 63px;
    top: 139.62px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #877F7F;
}

.perrosPequeños .miembros {
    position: absolute;
    left: 63px;
    top: 160.62px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14.386px;
    line-height: 17px;
    /* identical to box height */
    color: #9A8F8F;
}

.perrosPequeños .botonUnirme {
    position: absolute;
    width: 50px;
    height: 13px;
    left: 158px;
    top: 177.01px;
    background: #4969D9;
    border-radius: 3px;
}

.perrosPequeños .botonUnirme .textoUnirme {
    position: absolute;
    left: 9px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFBFB;
}

.gatitos img {
    position: absolute;
    width: 43px;
    height: 43px;
    left: 15px;
    top: 214.23px;
    border-radius: 100px;
}

.gatitos .nombre {
    position: absolute;
    left: 63px;
    top: 218.34px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #877F7F;
}

.gatitos .miembros {
    position: absolute;
    left: 63px;
    top: 239.34px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14.386px;
    line-height: 17px;
    /* identical to box height */
    color: #9A8F8F;
}

.gatitos .botonUnirme {
    position: absolute;
    width: 50px;
    height: 13px;
    left: 158px;
    top: 255.79px;
    background: #4969D9;
    border-radius: 3px;
}

.gatitos .botonUnirme .textoUnirme {
    position: absolute;
    left: 9px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFBFB;
}

/*******************BOTON CREAR PUBLICACION Y LINEA*******************************/

#botonCrearPublicacion {
    position: absolute;
    width: 514px;
    height: 52px;
    left: 24.8%;
    top: 17px;
    background: #4969D9;
    border: 1px solid #4969D9;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}

#botonCrearPublicacion p {
    position: absolute;
    width: 330.24px;
    height: 30px;
    left: 92px;
    top: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFEFE;
}

.linea hr {
    position: absolute;
    width: 511px;
    height: 0px;
    left: 254px;
    top: 82.5px;
    border: 1px solid #4969D9;
}

/*************************************PUBLICACIONES*************************/

.botonYpublicaciones {
    position: absolute;
    width: 520px;
    height: 599px;
    left: 254px;
    top: 99px;
    overflow:auto;
    box-sizing: border-box;
    

}


.bloquePublicacion1 {
    position: absolute;
    width: 512px;
    height: 525px;
    background: #FFFEFE;
    border-radius: 10px;
    
}



.imagenUsuario2 {
    position: absolute;
    width: 43px;
    height: 43px;
    left: 21px;
    top: 12px;
    border-radius: 100px;
}

.usuario2 {
    position: absolute;
    left: 69px;
    top: 12px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #0A0000;
}

.hs2 {
    position: absolute;
    left: 69px;
    top: 38px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #6B6363;
}

#tresPuntitos1 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 476px;
    top: 17.5px;
    cursor: pointer;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.textoPublicacion {
    position: absolute;
    width: 472px;
    height: 54px;
    left: 21px;
    top: 72px;
    
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    
    color: #6B6363;
    
}

.imagenesPublicacion {
    position: absolute;
    width: 472px;
    height: 331px;
    left: 21px;
    top: 138px;
}

.suricata {
    position: absolute;
    width: 279.77px;
    height: 164.97px;
    left: 0px;
    top: 0px;
}

.mapache {
    position: absolute;
    width: 279.77px;
    height: 157.92px;
    left: 0px;
    top: 173px;
    
}

.vaca {
    position: absolute;
    width: 176px;
    height: 103.78px;
    left: 296px;
    top: 0px;
}

.perezoso {
    position: absolute;
    width: 176px;
    height: 93.57px;
    left: 296px;
    top: 119px;
}

.tucan {
    position: absolute;
    width: 176px;
    height: 103.78px;
    left: 296px;
    top: 228px;
}

.barraPublicacion {
    position: absolute;
    width: 472px;
    height: 30px;
    left: 21px;
    top: 482px;
}

.meGusta {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0px;
    top: 0px;
    z-index: 1;
    cursor: pointer;
}

.noMeGusta {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 35px;
    top: 0px;
    z-index: 1;
    cursor: pointer;
}

.cantidad {
    position: absolute;
    width: 40px;
    height: 16px;
    top: 5px;
    left: 70px;
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    
    color: #6B6363;
    
}

.meEncanta {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 100px;
    top: 0px;
    z-index: 1;
}

.cantMeEncanta {
    position: absolute;
    width: 40px;
    height: 16px;
    top: 5px;
    left: 135px;
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    
    color: #6B6363;
    
}

.comentar {
    position: absolute;
    width: 27.49px;
    height: 27.41px;
    left: 165px;
    top: 2.3px;
    /* Inside auto layout */
    flex: none;
    order: 5;
    flex-grow: 0;
    
}

.cantComentarios {
    position: absolute;
    width: 40px;
    height: 16px;
    left: 197.49px;
    top: 7px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #6B6363;
    /* Inside auto layout */
    
}

.botones {
    position: absolute;
    width: 229px;
    height: 25px;
    left: 243px;
    top: 0px;
}

.botonComentar1 img {
    position: absolute;
    left: 0px;
}

.botonCompartir img{
    position: absolute;
    left: 124px;
}



.bloquePublicacion2 {
    position: absolute;
    width: 512px;
    height: 210px;
    top: 555px;
    background: #FFFEFE;
    border-radius: 10px;
}

.textoPublicacion2 {
    position: absolute;
    width: 472px;
    height: 54px;
    left: 21px;
    top: 80px;
    
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    
    color: #6B6363;

    
}

.barraPublicacion2 {
    position: absolute;
    width: 472px;
    height: 35px;
    left: 21px;
    top: 160px;
}


.bloquePublicacion3 {
    position: absolute;
    width: 512px;
    height: 210px;
    top: 795px;
    background: #FFFEFE;
    border-radius: 10px;
}

.textoPublicacion3 {
    position: absolute;
    width: 472px;
    height: 54px;
    left: 21px;
    top: 80px;
    
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    
    color: #6B6363;
    
}

.botonYpublicaciones::-webkit-scrollbar {
    -webkit-appearance: none;
}

.botonYpublicaciones::-webkit-scrollbar:vertical {
    width: 6px;
}

.botonYpublicaciones::-webkit-scrollbar-button:increment,.botonYpublicaciones::-webkit-scrollbar-button {
    display: none;
} 

.botonYpublicaciones::-webkit-scrollbar:horizontal {
    height: 10px;
}

.botonYpublicaciones::-webkit-scrollbar-thumb {
    background-color: #d1cece;
    border-radius: 20px;
}

.botonYpublicaciones::-webkit-scrollbar-track {
    border-radius: 10px;  
}



/***********************SUGERENCIAS***********************************************/

.sugerencias {
    position: absolute;
    width: 223px;
    height: 350px;
    left: 784px;
    top: 17px;
    background: #FFFDFD;
    border-radius: 5px;
}

.sugerencias .textoSugerencias {
    position: absolute;
    width: 193px;
    height: 21px;
    left: 15px;
    top: 15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #252626;
}

.imagenZapata img {
    position: absolute;
    width: 43px;
    height: 43px;
    left: 15px;
    top: 44.09px;
    border-radius: 100px;
}

.imagenZapata .nombre {
    position: absolute;
    left: 63px;
    top: 46.6px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #877F7F;
}

.imagenZapata .amigos {
    position: absolute;
    left: 63px;
    top: 67.6px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14.386px;
    line-height: 17px;
    /* identical to box height */
    color: #9A8F8F;
}

.imagenZapata .botonAgregar {
    position: absolute;
    width: 50px;
    height: 13px;
    left: 158px;
    top: 84.9px;
    background: #4969D9;
    border-radius: 3px;
}

.imagenZapata .botonAgregar .textoAgregar {
    position: absolute;
    left: 8px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFBFB;
}

.imagenRomero img {
    position: absolute;
    width: 43px;
    height: 43px;
    left: 15px;
    top: 123px;
    border-radius: 100px;
}

.imagenRomero .nombre {
    position: absolute;
    left: 63px;
    top: 125.25px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #877F7F;
}

.imagenRomero .amigos {
    position: absolute;
    left: 63px;
    top: 146.25px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14.386px;
    line-height: 17px;
    /* identical to box height */
    color: #9A8F8F;
}

.imagenRomero .botonAgregar {
    position: absolute;
    width: 50px;
    height: 13px;
    left: 158px;
    top: 163.63px;
    background: #4969D9;
    border-radius: 3px;
}

.imagenRomero .botonAgregar .textoAgregar {
    position: absolute;
    left: 8px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFBFB;
}

.imagenPerros img {
    position: absolute;
    width: 43px;
    height: 43px;
    left: 15px;
    top: 202px;
    border-radius: 100px;
}

.imagenPerros .nombre {
    position: absolute;
    left: 63px;
    top: 204.5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #877F7F;
}

.imagenPerros .amigos {
    position: absolute;
    left: 63px;
    top: 225.5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14.386px;
    line-height: 17px;
    /* identical to box height */
    color: #9A8F8F;
}

.imagenPerros .botonAgregar {
    position: absolute;
    width: 50px;
    height: 13px;
    left: 158px;
    top: 242.25px;
    background: #4969D9;
    border-radius: 3px;
}

.imagenPerros .botonAgregar .textoAgregar {
    position: absolute;
    left: 8px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFBFB;
}

.imagenQuintana img {
    position: absolute;
    width: 43px;
    height: 43px;
    left: 15px;
    top: 280.63px;
    border-radius: 100px;
}

.imagenQuintana .nombre {
    position: absolute;
    left: 63px;
    top: 283.13px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #877F7F;
}

.imagenQuintana .amigos {
    position: absolute;
    left: 63px;
    top: 304.13px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14.386px;
    line-height: 17px;
    /* identical to box height */
    color: #9A8F8F;
}

.imagenQuintana .botonAgregar {
    position: absolute;
    width: 50px;
    height: 13px;
    left: 158px;
    top: 321.63px;
    background: #4969D9;
    border-radius: 3px;
}

.imagenQuintana .botonAgregar .textoAgregar {
    position: absolute;
    left: 8px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFBFB;
}

/************************************PUBLICIDAD********************************/

.publicidad {
    position: absolute;
    width: 224px;
    height: 282.54px;
    left: 783px;
    top: 398px;
    
    border-radius: 5px;
}

.tamañoImagen {
    width: 224px;
    height: 282.54px;
}

@keyframes slide {
	0% { transform: translateX(0); }
	15% { transform: translateX(0); }

	20% { transform: translateX(-100%); }
	35% { transform: translateX(-100%); }

	40% { transform: translateX(-200%); }
	55% { transform: translateX(-200%); }

	60% { transform: translateX(-300%); }
	100% { transform: translateX(-300%); }

    
	
}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
	width: 100vw;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
    display: flex;
    justify-content: center;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	
    border-radius: 10px;
	vertical-align: center;
    display: flex;
    justify-content: center;
    
    
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 8vw;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
	.slide {
		width: 1200px;
	}

	.caption {
		font-size: 96px;
		bottom: 96px;
		right: 50px;
	}
}

/*fin carrousel*/

.menuChat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 206px;
    height: 150px;
    left: 801px;
    top: 0px;
    background: #FFFFFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.silenciar {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 15px;
    top: 15px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#silenciarTexto {
    position: absolute;
    left: 69px;
    top: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

.verPerfil {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 15px;
    top: 60px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#verTexto {
    position: absolute;
    left: 69px;
    top: 66px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

.eliminarChat {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 15px;
    top: 105px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#eliminarTexto {
    position: absolute;
    left: 69px;
    top: 111px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

/*****************************************************************************/

#menuChat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 206px;
    height: 150px;
    left: 801px;
    top: 0px;
    background: #FFFFFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.silenciar {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 15px;
    top: 15px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#silenciarTexto {
    position: absolute;
    left: 69px;
    top: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

.verPerfil {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 15px;
    top: 60px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#verTexto {
    position: absolute;
    left: 69px;
    top: 66px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

.eliminarChat {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 15px;
    top: 105px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#eliminarTexto {
    position: absolute;
    left: 69px;
    top: 111px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

.oculto {
	opacity: 0;
	z-index: -2;
}
  
.noOculto {
	opacity: 1;
	z-index: 2;
}

#menuChat1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 152px;
    height: 105px;
    left: 590px;
    top: 146px;
    background: #FFFFFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.guardar {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 15px;
    top: 15px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.guardarTexto {
    position: absolute;
    left: 69px;
    top: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

.denunciar {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 15px;
    top: 60px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.denunciarTexto {
    position: absolute;
    left: 69px;
    top: 66px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

/*********************************************************************/

#publicacion1 {
    position: absolute;
    width: 451px;
    height: 525px;
    left: 286px;
    top: 99px;
    background: #FFFCFC;
    /*background: beige;*/
}

.encabezado1 {
    position: absolute;
    width: 451px;
    height: 61px;
    left: 0px;
    top: 0px;
    background: #4969D9;
    border-radius: 5px 5px 0px 0px;
}

.imagenUsuario1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 43px;
    height: 43px;
    left: 17px;
    top: 9px;
    border-radius: 5px 5px 0px 0px;
}

.texto {
    position: absolute;
    width: 257px;
    height: 35px;
    left: 71px;
    top: 13px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.cerrar {
    position: absolute;
    width: 12px;
    height: 14.26px;
    left: 423px;
    top: 23px;
}



.linea2 {
    position: absolute;
    width: 26.02px;
    height: 0px;
    left: 0px;
    top: 100px;
    border: 1px solid #000000;
    transform: rotate(-90deg);
}

.pensando {
    position: absolute;
    width: 200px;
    height: 18px;
    left: 18px;
    top: 91px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.3);
}

.galeria {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0px;
    top: 470px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 12px;
    cursor: pointer;
}

.videoLlamada {
    position: absolute;
    left: 42px;
    top: 475.2px;
    cursor: pointer;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 12px;
}

.adjuntar {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 82px;
    top: 471px;
    cursor: pointer;
    /* Inside auto layout */
 
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 12px;
}

#botonPublicar {
    position: absolute;
    width: 104px;
    height: 25px;
    left: 330px;
    top: 471px;

    background: #4969D9;
    border-radius: 5px;
}

.textoPublicar {
    position: absolute;
    left: 22.2px;
    top: 3.7px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FCFDFF;
}























