/* Para resetear el browser */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

.contenedor {
    position: relative;
    width: 1024px;
    height: 768px;
    background-image: url(../images/fondohuellas1.svg);
    
    margin: auto;
    border: black 1px solid;
}

header {
    position: absolute;
    width: 1024px;
    height: 70px;
    left: 0px;
    top: 0px;
    background: #4969D9;
    
}

.logo1 {
    position: absolute;
    left: 0%;
    right: 84.84%;
    top: 0%;
    bottom: 0%;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 20px;
    cursor: pointer;
    background: #4969D9;
}

.logo {
    background: #4969D9;
}

.barraBusqueda {
    position: absolute;
    width: 271px;
    height: 38.17px;
    left: 82px;
    top: 14.6px;
    background: #FFFEFE;
    border-radius: 18.1271px;
}

.barraBusqueda button {
    position: absolute;
    left: 83.09%;
    top: 8.46%;
    cursor: pointer;
    background-color: white;
}

.barraBusqueda .inputBarraBusqueda input {
    position: absolute;
    left: 16px;
    top: 9px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: justify;
    color: #C7C3C4;
}

.iconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 315.91px;
    height: 44.91px;
    left: 655px;
    top: 13px;

    
}

.iconos .usuario {
    position: absolute;
    width: 44.91px;
    height: 44.91px;
    left: 0px;
    top: 0px;
    border-radius: 107.782px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 30px;
    cursor: pointer;
    
}

.iconos .inicio {
    width: 37px;
    height: 37px;
    position: absolute;
    left: 23.71%;
    right: 64.58%;
    top: 8.8%;
    bottom: 8.8%;
    background: #FFFFFF;
    
    /* Inside Auto Layout */
    cursor: pointer;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 30px;
    background: #4969D9;
}



.iconos .chat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 37px;
    height: 37px;
    left: 141.91px;
    top: 3.95px;
    cursor: pointer;
    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 30px;
    background: #4969D9;
}

.iconos .notificacion {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 66.13%;
    right: 22.16%;
    top: 8.81%;
    bottom: 8.81%;
    cursor: pointer;
    background: #FFFCFC;
    /* Inside Auto Layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 30px;
    background: #4969D9;
}

.iconos .logout {
    /* logout */
    position: absolute;
    width: 45px;
    height: 45px;
    left: 275.91px;
    top: 2.45px;
    cursor: pointer;
    
    /* Inside Auto Layout */
    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0px 30px;
    background: #4969D9;
}

.indicadorPagina {
    position: absolute;
    width: 50px;
    height: 10px;
    left: 99px;
    top: 43px;
    
}

.sugerenciaYpublicidad {
    position: absolute;
    width: 223px;
    height: 663.54px;
    left: 17px;
    top: 87px;
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bloqueSugerencias {
    position: absolute;
    width: 223px;
    height: 362px;
}

.tituloSugerencias {
    position: absolute;
    width: 223px;
    height: 48.38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .sugerencias {
    position: absolute;
    width: 162px;
    height: 44.56px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    color: #4969D9;
    text-align: center;
}

.fondoTituloSugerencias {
    position: absolute;
    width: 223px;
    height: 48.38px;
    background: #FFFDFD;
    border-radius: 10px;
}

.suregenciasYboton {
    position: absolute;
    width: 149px;
    height: 241px;
    left: 37px;
    top: 92px;
}

.fondoSugerencias {
    position: absolute;
    width: 223px;
    height: 300px;
    top: 62px;
    background: #FFFDFD;
    border-radius: 10px;
}

.dosSugerencias {
    position: absolute;
    width: 149px;
    height: 194px;
}

.zapata {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 149px;
    height: 86px;
    top: 0px;
}

.imgZapata {
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 2px 0px;
}

.draZapata {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #877F7F;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 2px 0px;
}

.amigosZapata {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14.386px;
    line-height: 17px;
    text-align: center;
  color: #9A8F8F;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 2px 0px;
}

.romero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 149px;
    height: 86px;
    top: 108px;
}

.imgRomero {
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 2px 0px;
}

.drRomero {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #9A8F8F;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 2px 0px;
}

.amigosRomero {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14.386px;
    line-height: 17px;
    text-align: center;
    color: #9A8F8F;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 2px 0px;
}

.boton {
    position: absolute;
    width: 104px;
    height: 25px;
    left: 22.5px;
    top: 205px;
    border-radius: 5.68px;
    background: #0F39CE;
    display: flex;
    justify-content: center;
    align-items: center;
        
}

.texto {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FCFDFF;
}

.publicidad {
    position: absolute;
    width: 224px;
    height: 282.54px;
    top: 381px;
    border-radius: 10px;
}

.tamañoImagen {
    width: 224px;
    height: 282.54px;
    border-radius: 10px;
}

.fondoContactos {
    position: absolute;
    width: 223px;
    height: 49.65px;
    left: 783px;
    top: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.textoContactos {
   
    width: 138px;
    height: 35px;
    left: 43px;
    top: 7.35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    color: #4969D9;
    text-align: center;
}

.botonYpublicaciones {
    position: absolute;
    width: 520px;
    height: 599px;
    left: 254px;
    top: 152px;
    overflow:auto;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cont {
    margin-left: 5px;
}


.botonCrearPublicacion {
    position: absolute;
    width: 514px;
    height: 45px;
    left: 254px;
    top: 92px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4969D9;
    border: 1px solid #4969D9;
    box-sizing: border-box;
    border-radius: 12.2815px;
}

.texto1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    height: 40px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFEFE;
}

.bloquePublicacion1 {
    position: absolute;
    width: 512px;
    height: 525px;
    background: #FFFEFE;
    border-radius: 10px;
}

.encabezadoPublicacion1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 469px;
    height: 45px;
    left: 22px;
    top: 12px;   
}

.tresPuntitos1 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 453px;
    top: 12px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.imagenUsuario1 {
    position: absolute;
    width: 248px;
    height: 45px;
    left: 0px;
    top: 0px;    
}

.textoPublicacion {
    position: absolute;
    width: 472px;
    height: 54px;
    left: 22px;
    top: 65px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    
    color: #6B6363;
    
}

.imagenesPublicacion {
    position: absolute;
    width: 472px;
    height: 331px;
    left: 22px;
    top: 130px;
}

.suricata {
    position: absolute;
    width: 279.77px;
    height: 164.97px;
    left: 0px;
    top: 0px;
}

.mapache {
    position: absolute;
    width: 279.77px;
    height: 157.92px;
    left: 0px;
    top: 173px;
    
}

.vaca {
    position: absolute;
    width: 176px;
    height: 103.78px;
    left: 296px;
    top: 0px;
}

.perezoso {
    position: absolute;
    width: 176px;
    height: 93.57px;
    left: 296px;
    top: 119px;
}

.tucan {
    position: absolute;
    width: 176px;
    height: 103.78px;
    left: 296px;
    top: 228px;
}

.barraPublicacion {
    position: absolute;
    width: 472px;
    height: 35px;
    left: 21px;
    top: 475px;
}

.meGusta {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.meEncanta {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 42px;
    top: 0px;
    z-index: 1;
}

.cantidad {
    position: absolute;
    width: 40px;
    height: 16px;
    top: 10px;
    left: 84px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    
    color: #6B6363;
    
}

.botones {
    position: absolute;
    width: 229px;
    height: 25px;
    left: 243px;
    top: 5px;
}

.botonCompartir{
    position: absolute;
    left: 125px;
}

.bloquePublicacion2 {
    position: absolute;
    width: 512px;
    height: 180px;
    top: 535px;
    background: #FFFEFE;
    border-radius: 10px;
}

.textoPublicacion2 {
    position: absolute;
    width: 472px;
    height: 54px;
    left: 22px;
    top: 65px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    
    color: #6B6363;
    
}

.barraPublicacion2 {
    position: absolute;
    width: 472px;
    height: 35px;
    left: 21px;
    top: 130px;
}


.bloquePublicacion3 {
    position: absolute;
    width: 512px;
    height: 180px;
    top: 725px;
    background: #FFFEFE;
    border-radius: 10px;
}

.textoPublicacion3 {
    position: absolute;
    width: 472px;
    height: 54px;
    left: 22px;
    top: 65px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    
    color: #6B6363;
    
}

.botonYpublicaciones::-webkit-scrollbar {
    -webkit-appearance: none;
}

.botonYpublicaciones::-webkit-scrollbar:vertical {
    width:5px;
}

.botonYpublicaciones::-webkit-scrollbar-button:increment,.botonYpublicaciones::-webkit-scrollbar-button {
    display: none;
} 

.botonYpublicaciones::-webkit-scrollbar:horizontal {
    height: 10px;
}

.botonYpublicaciones::-webkit-scrollbar-thumb {
    background-color: #d1cece;
    border-radius: 20px;
}

.botonYpublicaciones::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.bloqueContactos {
    position: absolute;
    width: 225px;
    height: 599px;
    left: 781px;
    top: 152px;
    overflow:auto;
    box-sizing: border-box;
    background: #FFFDFD;
    border-radius: 10.1425px;   
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bloqueContactos::-webkit-scrollbar {
    -webkit-appearance: none;
}

.bloqueContactos::-webkit-scrollbar:vertical {
    width:5px;
}

.bloqueContactos::-webkit-scrollbar-button:increment,.bloqueContactos::-webkit-scrollbar-button {
    display: none;
} 

.bloqueContactos::-webkit-scrollbar:horizontal {
    height: 10px;
}

.bloqueContactos::-webkit-scrollbar-thumb {
    background-color: #d1cece;
    border-radius: 20px;
}

.bloqueContactos::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.tituloContactos {
    position: absolute;
    width: 223px;
    height: 49.65px;
    left: 783px;
    top: 87px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}





/*-----------------------------*/




/*carrousel*/

@keyframes slide {
	0% { transform: translateX(0); }
	15% { transform: translateX(0); }

	20% { transform: translateX(-100%); }
	35% { transform: translateX(-100%); }

	40% { transform: translateX(-200%); }
	55% { transform: translateX(-200%); }

	60% { transform: translateX(-300%); }
	100% { transform: translateX(-300%); }

    
	
}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
	font-family: sans-serif;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
	width: 100vw;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
    display: flex;
    justify-content: center;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	
    border-radius: 10px;
	vertical-align: center;
    display: flex;
    justify-content: center;
    
    
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 8vw;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
	.slide {
		width: 1200px;
	}

	.caption {
		font-size: 96px;
		bottom: 96px;
		right: 50px;
	}
}

/*fin carrousel*/
