/* Para resetear el browser */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}


.contenedor {
    position: relative;
    width: 1024px;
    height: 768px;
    background-image: url(../images/fondohuellas1.svg);
    margin: auto;
    animation: fondo 20s linear infinite;
}    

@keyframes fondo {
    100% {
      background-position-x: 1024px;
     
    }
}

footer {
    position: absolute;
    width: 1024px;
    height: 60px;
    top: 708px;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
}

footer h4 {
    position: absolute;
    bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #C7C3C4;
}

.cuerpo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    padding: 0px;
    position: absolute;
    width: 784px;
    height: 588px;
    left: 120px;
    top: 90px;
}

.contenedorLogo {
    position: static;
    left: 0.32%;
    right: 72.39%;
    top: 20.12%;
    bottom: 20.12%;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 174px;
}

.contenedorLogo .logo img{
    position: absolute;
    width: 214px;
    height: 252.52px;
    left: 2.5px;
    top: 118.32px;
}

form {
    position: static;
    width: 431px;
    height: 587.55px;
    left: 350.5px;
    top: 0.23px;
    background: #E1E1E4;
    border-radius: 8px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 134px;
    background: #E1E1E4;
    border-radius: 8px;
}

form .logoFormulario img {
    position: absolute;
    width: 78.03px;
    height: 92.08px;
    left: 527px;
    top: 15px;
}

form .registrarse {
    position: absolute;
    width: 156px;
    height: 35px;
    left: 420px;
    top: 122px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #0F39CE;
}


form .nombre h3 {
    position: absolute;
    width: 284px;
    height: 55px;
    left: 424.5px;
    top: 172px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: justify;
    color: rgba(0, 0, 0, 0.5)
}

form .nombre .inputNombre {
    position: absolute;
    left: 54.08%;
    right: 9.69%;
    top: 32.49%;
    bottom: 61.38%;
    background: #FEFEFF;
    border-radius: 9.83008px;
}

form .nombre .inputNombre input {
    position: absolute;
    height: 18px;
    left: 8px;
    top: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: justify;
    color: #C7C3C4;
}

form .apellido h3 {
    position: absolute;
    width: 55px;
    height: 18px;
    left: 424px;
    top: 242px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: justify;
    color: rgba(0, 0, 0, 0.5);
}

form .apellido .inputApellido {
    position: absolute;
    left: 54.08%;
    right: 9.69%;
    top: 44.4%;
    bottom: 49.48%;
    background: #FEFEFF;
    border-radius: 9.83008px;
}

form .apellido .inputApellido input {
    position: absolute;
    height: 18px;
    left: 8px;
    top: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: justify;
    color: #C7C3C4;
}

form .correo h3 {
    position: absolute;
    width: 150px;
    height: 18px;
    left: 424px;
    top: 312px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: justify;
    color: rgba(0, 0, 0, 0.5);
}

form .correo .inputCorreo{
    position: absolute;
    left: 54.08%;
    right: 9.69%;
    top: 56.31%;
    bottom: 37.57%;

    background: #FEFEFF;
    border-radius: 9.83008px;
    
}

form .correo .inputCorreo input {
    position: absolute;
    height: 18px;
    left: 8px;
    top: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: justify;
    color: #C7C3C4;
}

form .contraseña h3 {
    position: absolute;
    width: 150px;
    height: 18px;
    left: 424px;
    top: 382px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: justify;
    color: rgba(0, 0, 0, 0.5);
}

form .contraseña .inputContraseña {
    position: absolute;
    left: 54.08%;
    right: 9.69%;
    top: 68.22%;
    bottom: 25.66%;

    background: #FEFEFF;
    border-radius: 9.83008px;
    
}

form .contraseña .inputContraseña input {
    position: absolute;
    height: 18px;
    left: 8px;
    top: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: justify;
    color: #C7C3C4;
}

form .repetiContraseña h3 {
    position: absolute;
    width: 150px;
    height: 18px;
    left: 424px;
    top: 452px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: justify;
    color: rgba(0, 0, 0, 0.5);
}

form .repetiContraseña .inputRepetiContraseña {
    position: absolute;
    left: 54.08%;
    right: 9.69%;
    top: 80.12%;
    bottom: 13.75%;

    background: #FEFEFF;
    border-radius: 9.83008px;
    
}

form .repetiContraseña .inputRepetiContraseña input {
    position: absolute;
    width: 240px;
    height: 18px;
    left: 8px;
    top: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: justify;
    color: #C7C3C4;
}


form .botonCancelar input {
    position: absolute;
    width: 135px;
    height: 36px;
    left: 424.4px;
    top: 537px;
    cursor: pointer;
    /* Inside Auto Layout */

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9.83008px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FF0000;
}

form .botonRegistrarse input {
    position: absolute;
    width: 135px;
    height: 36px;
    left: 560px;
    top: 537px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* Inside Auto Layout */
    cursor: pointer;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 14px;

    background: #FDFFFD;
    border-radius: 9.83008px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    text-align: center;
    color: #0F39CE;
}

