/* Para resetear el browser */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: Roboto;
}


::placeholder {
    color:darkgray;
}

.contenedor {
    position: relative;
    
    width: 1024px;
    height: 768px;
    background-image: url(../images/fondohuellas1.svg);
    animation: fondo 20s linear infinite;
    margin: auto;
}


@media screen and (max-width:768px) {
    .contenedor {
        width: 100%;
		height: 100%;			
		flex-direction: column;
		
		background-color: #ffffff;
		margin-bottom: auto;
    }

    .contenedor footer {
        width: 100%;
        top: 580px;
    }

    .contenedor footer h4 {
        text-align: center;
        font-size: 15px;
    }

    .contenedor .contenedorLogo .logo{
        display: none !important;
    }

    .contenedor form {
        left: 0px;
        top: 0px;
        width: 100%;
        border-radius: 0px;
    }

    .contenedor .logoFormulario img {
        align-items: center;
        height: 129.08px;
        left: 35%;
        top: 32px;
    }
    
    .contenedor .textoInicioSesion {
        left: 10%;
    }
    
    .contenedor .correo h3 {
        left: 10%;
    }

    .contenedor .correo .inputCorreo {
        left: 10%;
    }

    .contenedor .contraseña h3 {
        left: 10%;
    }

    .contenedor .contraseña .inputContraseña {
        left: 10%;
    }

    .contenedor .olvidasteContraseña .textoOlvidasteContraseña{
        left: 30%;
    }

    .contenedor .botonIniciarSesion input {
        left: 10%;
    }

    .contenedor .botonIniciarSesionGoogle {
        left: 10%;
    }

    .contenedor .linea hr{
        left: 10%;
    }
    
    .contenedor .registrarse a {
        left: 36%;
    }
}

@keyframes fondo {
    100% {
      background-position-x: 1024px;
     
    }
}



footer {
    position: absolute;
    width: 1024px;
    height: 60px;
    top: 708px;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
}

footer h4 {
    position: absolute;
    bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #C7C3C4;
}


.contenedorLogo {
    position: static;
    left: 0.32%;
    right: 72.39%;
    top: 20.12%;
    bottom: 20.12%;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 174px;
}

.contenedorLogo .logo img{
    position: absolute;
    width: 214px;
    height: 252.52px;
    left: 122px;
    top: 208.32px;
}


form {
    position: absolute;
    width: 431px;
    height: 587.55px;
    left: 470.5px;
    top: 90.23px;
    background: #E1E1E4;
    border-radius: 8px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    
    background: #E1E1E4;
    border-radius: 8px;
}

.logoFormulario img {
    position: absolute;
    width: 109.39px;
    height: 129.08px;
    left: 162px;
    top: 32px;
}

.textoInicioSesion {
    position: absolute;
    width: 181px;
    height: 35px;
    left: 70px;
    top: 176px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #0F39CE;
}


.correo h3 {
    position: absolute;
    width: 123px;
    height: 18px;
    left: 74px;
    top: 226px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.correo .inputCorreo{
    position: absolute;
    left: 74px;
    
    top: 245px;
    width: 284px;
height: 36px;
    background: #FEFEFF;
    border-radius: 9.83008px;
}
.correo .inputCorreo input {
    position: absolute;
    height: 18px;
    left: 0px;
    top: 9px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    padding-left: 10px;
    color:darkgray;
}

.contraseña h3 {
    position: absolute;
    width: 77px;
    height: 18px;
    left: 74px;
    top: 296.23px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.contraseña .inputContraseña {
    position: absolute;
    left: 74px;
    
    top: 315px;
    width: 284px;
height: 36px;
    background: #FEFEFF;
    border-radius: 9.83008px;
}

form .contraseña .inputContraseña input {
    position: absolute;
    height: 18px;
    left: 0px;
    top: 9px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    padding-left: 10px;
}

form .olvidasteContraseña p{
    position: absolute;
    width: 133px;
    height: 18px;
    left: 150px;
    top: 354.23px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    color: #092CAA;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form .botonIniciarSesion input {
    position: absolute;
    width: 284px;
    height: 36px;
    left: 74px;
    top: 387.23px;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #0F39CE;
    border-radius: 9.82523px;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    color: #FEFEFF;
}

.boton:hover{   
    background: #092CAA;
    font-weight: bold;
    
}

.boton {
    transition:background 0.5s, color 0.5s, border 0.5s;
}

.botonIniciarSesionGoogle {
    position: absolute;
    width: 284px;
    height: 36px;
    left: 74px;
    top: 453.23px;
    cursor: pointer;
    background: #FCFFFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9.82523px;
    text-align: center;
}

.botonIniciarSesionGoogle img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 65px;
    top: 8px;
}

.botonIniciarSesionGoogle .inputBotonIniciarSesionGoogle input {
    position: absolute;
    width: 150px;
    left: 85px;
    top: 9px;
    background: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    color: #0F39CE;
}

.botonIniciarSesionGoogle .boton1:hover{   
    font-weight: bold;
    cursor: pointer;
}

.boton1 {
    transition:background 0.5s, color 0.5s, border 0.5s;
}


form .linea hr{
    position: absolute;
    width: 284px;
    height: 0px;
    left: 74.5px;
    top: 534px;
    border: 2px solid #FFFDFD;
}

form .registrarse a {
    position: absolute;
    width: 100px;
    height: 18px;
    left: 166px;
    top: 539.23px;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    color: #092CAA;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contenedorLoading {
    width: 1024;
    height: 768;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
   
}

.esconder{
    display: none;
}

#loading {
    width: 70px;
    height:66px;
    background: url(../images/sprite\ shet\ loading.png) left center no-repeat; 
    animation: loading 5s steps(12) infinite;  
    z-index: 9999;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 325px;
    
}

@keyframes loading {
    0% {background-position: 0;}
    100% {background-position: -819px;}
}

#procesando {
    margin-top: 325px;
    margin-right: 250px;
    color: rgba(0, 0, 0, 0.5);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 20px;
}







  

  

  

	







