/* Para resetear el browser */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

.contenedor {
    position: relative;
    width: 1024px;
    height: 768px;
    /*background-image: url(../images/fondohuellas1.svg);*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    /*border: black 1px solid;*/
}

.cuerpo {
    position: absolute;
    width: 1024px;
    height: 698px;
    left: 0px;
    top: 70px;
    background: rgba(217, 220, 222, 0.3);
}

/*******************************HEADER**********************************************/

header {
    position: absolute;
    width: 1024px;
    height: 70px;
    left: 0px;
    top: 0px;
    background: #FFFFFE;
}

.logo1 {
    position: absolute;
    width: 52px;
    height: 52px;
    left: 17px;
    top: 4px;
    cursor: pointer;
}

.vasanet {
    position: absolute;
    width: 40px;
    height: 12px;
    left: 24.28px;
    top: 54.7px;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10.2267px;
    line-height: 12px;
    /* identical to box height */
    color: #4969D9;
}

.lupa1 {
    position: absolute;
    width: 20px;
    height: 16px;
    left: 349px;
    top: 27px;
    cursor: pointer;
}

.inputBuscador {
    position: absolute;
    width: 300px;
    height: 31px;
    left: 89px;
    top: 19.5px;
    background: rgba(217, 220, 222, 0.5);
    border-radius: 5px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    
}

.inputBuscador::-webkit-input-placeholder {
    position: absolute;
    left: 20px;
    top: 6.5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
}






.iconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 465.49px;
    height: 41.7px;
    left: 542px;
    top: 14px;
}

.iconos .usuario {
    position: absolute;
    width: 41.7px;
    height: 41.7px;
    left: 336.72px;
    top: 0px;
    border-radius: 100.087px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 9.28602px;
    cursor: pointer;
}

.iconos p {
    position: absolute;
    width: 67.79px;
    height: 16.71px;
    left: 387.71px;
    top: 12.49px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13.929px;
    line-height: 16px;
    /* identical to box height */
    text-align: center;
    color: rgba(37, 38, 38, 0.5);
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 9.28602px;
    cursor: pointer;
}

.iconos .inicio {
    position: absolute;
    width: 34.36px;
    height: 34.36px;
    left: 0%;
    top: 3.67px;
    cursor: pointer;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.iconos .chat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 34.36px;
    height: 34.36px;
    left: 114.36px;
    top: 3.67px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.iconos .notificacion {
    position: absolute;
    left: 49.13%;
    right: 42.7%;
    top: 4.44%;
    bottom: 4.44%;
    cursor: pointer;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.iconos .indicadorPagina {
    position: absolute;
    width: 34.36px;
    height: 0px;
    left: 347px;
    top: 43.3px;
    border: 3px solid #4969D9;
}

/*******************************USUARIO**********************************************/

.usuario img {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 61px;
    top: 17px;
    border-radius: 144px;
}

.usuario .nombre {
    position: absolute;
    width: 170px;
    height: 100px;
    left: 41px;
    top: 160px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #252626;
}

.usuario .perfil {
    position: absolute;
    width: 102px;
    height: 23px;
    left: 75px;
    top: 260px;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: rgba(15, 57, 206, 0.5);
}

/*******************************BOTON CREAR PUBLICACION Y LINEA**********************************************/

#botonCrearPublicacion {
    position: absolute;
    width: 514px;
    height: 52px;
    left: 24.8%;
    top: 17px;
    background: #4969D9;
    border: 1px solid #4969D9;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}

#botonCrearPublicacion p {
    position: absolute;
    width: 330.24px;
    height: 30px;
    left: 92px;
    top: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFEFE;
}

.linea hr {
    position: absolute;
    width: 511px;
    height: 0px;
    left: 254px;
    top: 82.5px;
    border: 1px solid #4969D9;
}

/*************************************PUBLICACIONES*************************/

.botonYpublicaciones::-webkit-scrollbar {
    -webkit-appearance: none;
}

.botonYpublicaciones::-webkit-scrollbar:vertical {
    width:5px;
}

.botonYpublicaciones::-webkit-scrollbar-button:increment,.botonYpublicaciones::-webkit-scrollbar-button {
    display: none;
} 

.botonYpublicaciones::-webkit-scrollbar:horizontal {
    height: 10px;
}

.botonYpublicaciones::-webkit-scrollbar-thumb {
    background-color: #d1cece;
    border-radius: 20px;
}



.botonYpublicaciones {
    /*position: absolute;
    width: 10px;
    height: 263px;
    left: 997px;
    top: 178px;
    background: rgba(163, 155, 155, 0.7);
    border-radius: 20px;*/
    position: absolute;
    width: 520px;
    height: 599px;
    left: 254px;
    top: 99px;
    overflow:auto;
    box-sizing: border-box;
}

.bloquePublicacion1 {
    position: absolute;
    width: 514px;
    height: 202px;
    left: 0px;
    top: 0px;
    background: #FFFEFE;
    border-radius: 5px;
}

.imagenUsuario1 {
    position: absolute;
    width: 43px;
    height: 43px;
    /*left: 17px;
    top: 9px;*/
    left: 21px;
    top: 12px;
    border-radius: 100px;
}

.usuario1 {
    position: absolute;
    left: 69px;
    top: 15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #0A0000;
}

.tiempo1 {
    position: absolute;
    left: 69px;
    top: 38px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #6B6363;
}

.tresPuntitos1 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 476px;
    top: 19px;
    cursor: pointer;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.textoPublicacion {
    position: absolute;
    width: 472px;
    height: 54px;
    left: 21px;
    top: 76px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
}

.barraPublicacion {
    position: absolute;
    width: 472px;
    height: 30px;
    left: 21px;
    top: 155px;
}

.meGusta {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0px;
    top: 0px;
    z-index: 1;
    cursor: pointer;
}

.noMeGusta {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 35px;
    top: 0px;
    z-index: 1;
    cursor: pointer;
}

.cantidad {
    position: absolute;
    width: 40px;
    height: 16px;
    top: 5px;
    left: 70px;
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    
    color: #6B6363;
    
}

.meEncanta {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 100px;
    top: 0px;
    z-index: 1;
}

.cantMeEncanta {
    position: absolute;
    width: 40px;
    height: 16px;
    top: 5px;
    left: 135px;
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    
    color: #6B6363;
    
}

.comentar {
    position: absolute;
    width: 27.49px;
    height: 27.41px;
    left: 165px;
    top: 2.3px;
    /* Inside auto layout */
    flex: none;
    order: 5;
    flex-grow: 0;
    
}

.cantComentarios {
    position: absolute;
    width: 40px;
    height: 16px;
    left: 197.49px;
    top: 7px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #6B6363;
    /* Inside auto layout */
    
}

.botones {
    position: absolute;
    width: 229px;
    height: 25px;
    left: 243px;
    top: 0px;
}

.botonComentar1 img {
    position: absolute;
    left: 0px;
}

.botonCompartir img{
    position: absolute;
    left: 120px;
}

.bloquePublicacion2 {
    position: absolute;
    width: 514px;
    height: 437px;
    left: 0px;
    /*top: 232px;*/
    top: 437px;
    background: #FFFEFE;
    border-radius: 5px;
}


.textoPublicacion2 {
    position: absolute;
    width: 472px;
    height: 72px;
    left: 21px;
    top: 58px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
}



.textoPublicacion2 .rana {
    position: absolute;
    width: 472px;
    height: 248.18px;
    left: 0px;
    top: 58px;
}

.barraPublicacion2 {
    position: absolute;
    width: 416px;
    height: 35px;
    left: 21px;
    top: 388px;
}

/**********************************************************************************************/

.menuChat1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 166px;
    height: 129px;
    left: 577px;
    top: 145px;
    background: #FFFFFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}



.editar1 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 19px;
    top: 23px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.editarTexto {
    position: absolute;
    left: 73px;
    top: 26.5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.3);
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

.eliminar {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 19px;
    top: 76px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.eliminarTexto {
    position: absolute;
    left: 73px;
    top: 79.5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.3);
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

/*********************COMENTARIOS*****************************************/

.sectorMensajes {
    position: absolute;
    width: 514px;
    height: 202px;
    left: 0px;
    top: 207px;
    
}
/*
.comentarios {
    position: absolute;
    width: 514px;
    height: 202px;
    left: 0px;
    top: 207px;
    background: #FFFEFE;
    border-radius: 5px;
}

.escribirComentario {
    position: absolute;
    width: 471.38px;
    height: 30px;
    left: 21px;
    top: 14px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    
}

.imagenUsuario2 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0px;
    top: 0px;
    border-radius: 144px;
}

.inputComentario {
    position: absolute;
    width: 401px;
    height: 30px;
    left: 35px;
    top: 0px;
    background: rgba(217, 220, 222, 0.5);
    border-radius: 20px;
    
}



#inputComentario::-webkit-input-placeholder {
    position: absolute;
left: 16px;
top: 6px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;



color: rgba(107, 99, 99, 0.5);
}

.caritaFeliz {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 441px;
    top: 7.5px;
    cursor: pointer;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.adjuntar11 {
    position: absolute;
    width: 15px;
    height: 10.38px;
    left: 461px;
    top: 7.5px;
    cursor: pointer;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}*/

