/* Para resetear el browser */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

::placeholder {
    color:darkgray;
}

.contenedor {
    position: relative;
    display: flex;
    width: 1024px;
    height: 768px;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.capa1{
    position: absolute;
    top: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    animation: movimientoFondo 30s linear infinite;
    background: url(../images/fondohuellas1.svg) repeat-X;
}
 
@keyframes movimientoFondo {
    100% {
        background-position-x: -1024px;
    }
}

.capa2{
    position: absolute;
    margin-top: 430px;
    z-index: 0;
    height: 100%;
    width: 100%;
    animation: movimientoFondo2 40s linear infinite;
    background: url(../images/capa2.png) repeat-X;
}

@keyframes movimientoFondo2 {
    100% {
        background-position-x: -1024px;
    }
}

/*----------------------------------RESPONSIVE----------------------------------------------*/
  
@media screen and (max-width: 375px) {
	.contenedor{
		width: 100%;
		height: 200vh;
		flex-direction: column;
		left: 0%;
        /*background: rgba(217, 220, 222, 0.3);*/
        background: #FFFFFF;
	}

    .contenedor .contenedorLogo img{
		left: 35%;
		top:-10%;
        width: 30%;
        height: 30%;
        
	}

    .contenedor .contenedorLogo .vasanet {
        left: 27%;
        top: 8.5%;
        width: 20%;
        height: 50px;
    }

    .contenedor .contenedorLogo .vasanet1 {
        left: 30%;
        top: 14%;
        width: 40%;
        height: 50px;
    }

    .contenedor .aaa {
		z-index:2;		
		/*left: -134px;*/
        left: -163px;
		top: 20%;
		display: flex;		
		position: absolute;		
		width: 100%;
		height: 150px;
	}
    
    .aaa .textoInicioSesion {
        top: 10px;
    }

    .contenedor .aaa .textoCorreo {
        top: 60px;
    }

    .aaa #inputCorreo {
        top: 79px;
    }

    .aaa #errorCorreo {
        top: 119px;
    }

    .contenedor .aaa .textoContraseña {
        top: 140px;
    }

    .aaa #inputContraseña {
        top: 159px;
    }

    .aaa #errorContraseña {
        top: 199px;
    }

    .aaa .olvidasteContraseña p {
        top: 215px;
    }

    .aaa #botonIniciarSesion {
        top: 253px;
    }

    .aaa #botonIniciarSesionGoogle img {
        top: 338px;
    }

    .aaa #botonIniciarSesionGoogle p {
        top: 339px;
    }

    .aaa .linea hr {
        top: 378.5px;
    }

    .aaa .registrarse p {
        top: 400.77px;
    }

    .contenedor footer {
        width: 100%;
        top: 700px;
        left: -324px;
    }

    .contenedor footer h4 {
        text-align: center;
        font-size: 15px;
    }
}

/**********************************************FOOTER**************************/

footer {
    position: absolute;
    width: 1024px;
    height: 60px;
    left: 0px;
    top: 708px;
    display: flex;
    justify-content: center;
    background: #FFFFFE;
}

footer h4 {
    position: absolute;
    width: 385px;
    height: 13.8px;
    left: 319px;
    top: 23px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #C7C3C4;
}

/**********************************************LOGO*************************/

.contenedorLogo img{
    position: absolute;
    width: 214px;
    height: 252.52px;
    left: 122.5px;
    top: 198.32px;
    overflow: hidden;
    z-index:2;
}

.contenedorLogo .vasanet {
    position: absolute;
    left: 152.46px;
    top: 401.62px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 42.8px;
    line-height: 50px;
    text-align: center;
    color: #4969D9;
    overflow: hidden;
    z-index:2;
}

.contenedorLogo p {
    position: absolute;
    width: 156px;
    height: 92px;
    left: 151.5px;
    top: 477.68px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4969D9;
    overflow: hidden;
    z-index:2;
}

/*****************************************FORMULARIO**************************/

form {
    position: absolute;
    width: 431px;
    height: 520px;
    left: 350.5px;
    top: 124px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 134px;
    background: #FCFDFF;
    border-radius: 8px;
    overflow: hidden;
    z-index:2;
}

.textoInicioSesion {
    position: absolute;
    width: 177px;
    height: 35px;
    left: 73.5px;
    top: 53px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #252626;
}


.correo .textoCorreo {
    position: absolute;
    width: 123px;
    height: 18px;
    left: 73.5px;
    top: 103px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    color: rgba(37, 38, 38, 0.5);
}

.correo input {
    position: absolute;
    width: 284px;
    height: 36px;
    left: 73.5px;
    top: 122px;
    background: rgba(217, 220, 222, 0.5);
    border-radius: 5px;
}

.contraseña .textoContraseña {
    position: absolute;
    width: 77px;
    height: 18px;
    left: 73.5px;
    top: 183px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    color: rgba(37, 38, 38, 0.5);
}

.contraseña input {
    position: absolute;
    width: 284px;
    height: 36px;
    left: 73.5px;
    top: 202px;
    background: rgba(217, 220, 222, 0.6);
    border-radius: 5px;
}

.olvidasteContraseña p{
    position: absolute;
    width: 136px;
    height: 18px;
    left: 147.5px;
    top: 258px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    cursor: pointer;
    color: #4969D9;
}

#botonIniciarSesion {
    position: absolute;
    width: 284px;
    height: 36px;
    left: 73.5px;
    top: 296px;
    background: #4969D9;
    border-radius: 5px;
    cursor: pointer;
}

#botonIniciarSesion p {
    position: absolute;
    width: 119px;
    height: 18px;
    left: 82.5px;
    top: 9px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    color: #FEFEFF;
}

#botonIniciarSesion:hover{   
    background: #092CAA;
    font-weight: bold;
    
}

#botonIniciarSesion {
    transition:background 0.5s, color 0.5s, border 0.5s;
}

#botonIniciarSesionGoogle p {
    position: absolute;
    left: 155.5px;
    top: 382px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    cursor: pointer;
    text-align: center;
    color: #0F39CE;
}

#botonIniciarSesionGoogle img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 130.5px;
    top: 381px;
    cursor: pointer;
}

#botonIniciarSesionGoogle .boton1:hover{   
    font-weight: bold;
    cursor: pointer;
}

#botonIniciarSesionGoogle {
    transition:background 0.5s, color 0.5s, border 0.5s;
}

.linea hr{
    position: absolute;
    width: 284px;
    height: 0px;
    left: 74px;
    top: 421.5px;
    border: 2px solid #4969D9;
}

.registrarse p {
    position: absolute;
    width: 145px;
    height: 23px;
    left: 143px;
    top: 443.77px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    cursor: pointer;
    color: #4969D9;
}



.error {
	border: rgba(230, 36, 36, 0.8) solid 1px;
}

.mensajeOculto {
    display: none;
}

.mensajeInputCorreo {
	position:absolute;
	top: 163px;
    left: 73.5px;
    margin: 0px 0px 0px 5px;
    display: flex;
    color: rgba(230, 36, 36, 0.8);
    font-size: 10px;
}

.mensajeInputContraseña {
	position:absolute;
	top:243px;
    left: 73.5px;
    margin: 0px 0px 0px 5px;
    display: flex;
    color: rgba(230, 36, 36, 0.8);
    font-size: 10px;
}



  

  

  

	







