.contenedor {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #A3D6DB;
    width: 100%;
    height: 100%;
}

.nubes {
    background: url(../images/nubes2.png);
    position: absolute;
    top: 5%;
    left: 0px;
    width: 100%;
    height: 274px;
    animation: nubes 20s linear infinite;
}

@keyframes nubes {
    0% {background-position: 0;}
    100% {background-position: -2772px;}
    
}

.ciudad{
	background-image: url(../images/ciudad.png);
	background-repeat: repeat-x;
	/*background-position: 0px 100%;  /*para que se ubique en la parte inferior*/
	position: absolute; 
	top: 10%;
	left: 0px;
	width: 100%;
	height: 90%;
    animation: ciudad 30s linear infinite;	
	
}

@keyframes ciudad{
	from{ background-position: 0; }
	to{ background-position: -6396px; }
}

.camina {
    width: 120px;
    height:269px;
    /*margin-top: 460px;*/
    margin-top: 24%;
    margin-left: 25%;
    position: absolute;
    background: url(../images/personajeCaminando.png) left center; 
    animation: caminar 1s steps(6) infinite;  
}

@keyframes caminar {
    0% {background-position: 0;}
    100% {background-position: -720px;}
    
}

.salta {
    width: 127px;
    height:269px;
    margin-top: 24%;
    margin-left: 25%;
    position: absolute;
    background: url(../images/personajeSaltando.png) left center no-repeat; 
    animation: saltar 1s steps(7) forwards; 
     
}

@keyframes saltar {
    35% {bottom: 40%;}
    /*50% {bottom: 50%;}*/
    100% {background-position: -893px;}
    
}

.moneda {
    width: 78px;
    height:87px;
    margin-top: 23%; 
    margin-left: 50%;
    position: absolute;
    background: url(../images/monedas.png) left center; 
    animation: girarMoneda 1s steps(6) infinite;  
    
}

@keyframes girarMoneda {
    0% {background-position: 0;}
    100% {background-position: -469px;}
}

.trasladarMoneda{
    background-color:black;
    width: 100%;
    animation: traslacionMoneda linear infinite;
}

@keyframes traslacionMoneda {
    to {
        right: 130%;
        transform: translateX(0);
    }
}

.piedra {
    width: 52px;
    height: 53px;
    top: 70%;
    right: 0%;
    position: absolute;
    background-image:url(../images/piedras.png) ; 
    animation: piedras 5s linear infinite;
}

@keyframes piedras {
    to {
        right: 130%;
        transform: translateX(-120%);
    }
}

.camioneta {
    width: 287px;
    height: 200px;
    top: 70%;
    right: 0%;
    position: absolute;
    background-image:url(../images/camioneta.png) ; 
    animation: camioneta 5s linear infinite;
}

@keyframes camioneta {
    to {
        right: 120%;
        transform: translateX(-120%);
    }
}


.finJuego {
    display: none;
}

.finJuego div {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.obstaculo:hover ~ .finJuego {
    display: block;
}

.finJuego:hover {
    display: block;
}

.puntos {
    top: 0px;
    left: 1%;
    position: absolute;
}

.vidas {
    top: 0px;
    left: 15%;
    position: absolute;
}



/*body {
    margin:0;
    background:#000;
  }


.man {
    width: 120px;
    height:269px;
    margin-top: 360px; 
    margin-left: 50%;
    position: absolute;
    background: url(../images/personajeCaminando.png) left center; 
    animation: caminar 1s steps(6) infinite;  
}

@keyframes caminar {
    0% {background-position: 0;}
    100% {background-position: -720px;}
    
}

.moneda {
    width: 78px;
    height:87px;
    margin-top: 220px; 
    margin-left: 50%;
    position: absolute;
    background: url(../images/images.png) left center; 
    animation: girarMoneda 1s steps(6) infinite;  
    
}

@keyframes girarMoneda {
    0% {background-position: 0;}
    100% {background-position: -469px;}
    
}

.fondo {
    
    height:690px;
    background:url(../images/Fondociudad.jpg) repeat-x;
    position:relative;
    top:10px;
    
    animation: movebg 8s linear infinite;
}

@keyframes movebg {
    0% { background-position:0;}
    100% { background-position: -1200px; }
    
  }*/

