/* LA CLASE CONTENEDOR ES LA CLASE DE FONDO
SE LE DA UNA POSICION ABSOLUTA, QUE COMIENCE EN EL MARGEN SUPERIOR IZQUIERDO
COLOR CELESTE Y QUE OCUPE TODA LA PANTALLA 
ESTA CLASE NO TIENE ANIMACION*/
.contenedor {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #A3D6DB;
    width: 100%;
    height: 100%;
}

/* LA CLASE SOL ES LA QUE MUESTRA EL SOL EN PANTALLA 
SE LE DA UN COLOR ANARANJADO, TAMANO DE 100 X 100 PIXELES, POSICION ABSOLUTA
ARRANCA DE "AFUERA" DE LA PANTALLA E INVOCA A LA ANIMACION SOL*/
.sol {
    background: #FFA500;
    width: 100px;
    height: 100px;
    position: absolute;
    left: -110px;
    top: 20%;
    border-radius: 100px;
    box-shadow: 0px 0px 0px 10px rgba(255, 140, 0, 0.5);
    animation: sol 80s linear infinite;
}

/* ANIMACION DEL SOL
D 0 A 50% VA SUBIENDO Y DE 50 A 94% VA BAJANDO EL SOL*/
@keyframes sol {
    0% {left: -110px; top: 30%;}
    50% {left: 50%; top: 5%;}
    100% {left: 94%; top: 30%;}
}

/* ATRIBUTOS DEL BOTON PARA CAMBIAR DE ESCENARIO */
.btnEscenario{
    margin-left: 10px;
    margin-top: 20px;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    
}

/* EFECTO DE ZOOM EN LOS BOTONES PARA ELEGIR ESCENARIO */
.btnEscenario:hover{
    transform: scale(1.25);
}

/* ATRIBUTOS DE LA IMAGEN DE LOS BOTONES DE ESCENARIO*/
.imagen{
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* CLASE QUE SE UTILIZA PARA CAMBIAR EL DONDE A NOCHE 
 LE CAMBIAMOS EL BACKGROUND A UNO MAS OSCURO QUE EL QUE TIENE LA CLASE CONTENEDOR*/
.fondoNoche {
    background: #103D42;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

/* CLASE QUE MUESTRA LAS NUBES CON SU ANIMACION 
EL BACKGROUND RECIBE LA IMAGEN DE LAS NUBES CON UNA POSICION ABSOLUTA,
COMIENZA BIEN A LA IZQUIERZA Y 5 % ABAJO, TIENE UN ANCHO DE 100%
Y LA ALTURA DE LA IMAGEN. SE LLAMA A LA ANIMACION*/
.nubes {
    background: url(../images/nubes2.png);
    position: absolute;
    top: 5%;
    left: 0px;
    width: 100%;
    height: 274px;
    animation: nubes 20s linear infinite;
}

/* ANIMACION DE LA NUBE
EN 0% TIENE UNA POSICION DE 0 Y EN 100% TIENE UNA POSICION DEL
TAMAÑO DE LA IMAGEN */
@keyframes nubes {
    0% {background-position: 0;}
    100% {background-position: -2772px;}
}

/* CLASE QUE MUESTRA LA CIUDAD CON SU ANIMACION 
EL BACKGROUND RECIBE LA IMAGEN DE LA CIUDAD CON UNA POSICION ABSOLUTA,
Y LAS POSICIONES Y TAMAÑO QUE SE AJUSTAN A LAS NECESIDADES DEL JUEGO
SE LLAMA A LA ANIMACION*/
.ciudad{
	background-image: url(../images/ciudad.png);
	background-repeat: repeat-x;
	Position: absolute; 
	top: 10%;
	left: 0px;
	width: 100%;
	height: 90%;
    animation: ciudad 30s linear infinite;	
}

/* ANIMACION DE LA CIUDAD
VA DESDE 0 HASTA EL ANCHO DE LA IMAGEN*/
@keyframes ciudad{
	from{ background-position: 0; }
	to{ background-position: -6396px; }
}

/* CLASE QUE MUESTRA AL PERSONAJE CON SU ANIMACION PARA QUE CAMINE
TIENE EL TAMAÑO DE LA IMAGEN DEL NENE, LOS MARGENES DE ARRIBA E IZQUIERDA
 SON PUESTOS SEGUN LAS NECESIDADES DE NUESTRA PAGINA
 SE INVOCA A LA IMAGEN DEL PERSONAJE Y SE LLAMA A SU ANIMACION*/
.camina {
    width: 120px;
    height:269px;
    /*margin-top: 460px;*/
    margin-top: 24%;
    margin-left: 25%;
    position: absolute;
    background: url(../images/personajeCaminando.png) left center; 
    animation: caminar 1s steps(6) infinite;  
}

/* ANIMACION DEL PERSONAJE CAMINANDO */
@keyframes caminar {
    0% {background-position: 0;}
    100% {background-position: -720px;}
}

/* CLASE QUE MUESTRA AL PERSONAJE CON SU ANIMACION PARA QUE SALTE
TIENE EL TAMAÑO DE LA IMAGEN DEL NENE, LOS MARGENES DE ARRIBA E IZQUIERDA
SON PUESTOS SEGUN LAS NECESIDADES DE NUESTRA PAGINA
SE INVOCA A LA IMAGEN DEL PERSONAJE Y SE LLAMA A SU ANIMACION
NO-REPEAT SE USA PARA QUE SOLO LO HAGA UNA VEZ*/ 
.salta {
    width: 127px;
    height:269px;
    margin-top: 24%;
    margin-left: 25%;
    position: absolute;
    background: url(../images/personajeSaltando.png) left center no-repeat; 
    animation: saltar 1s steps(7) forwards; 
}

/*ANIMACION DEL PERSONAJE SALTANDO */
@keyframes saltar {
    35% {bottom: 40%;}
    100% {background-position: -893px;}
}

/* CLASE QUE MUESTRA AL PERSONAJE CON SU ANIMACION PARA QUE SE HAGA CHIQUITO
TIENE EL TAMAÑO DE LA IMAGEN DEL NENE, LOS MARGENES DE ARRIBA E IZQUIERDA
SON PUESTOS SEGUN LAS NECESIDADES DE NUESTRA PAGINA
SE INVOCA A LA IMAGEN DEL PERSONAJE Y SE LLAMA A SU ANIMACION
NO-REPEAT SE USA PARA QUE SOLO LO HAGA UNA VEZ*/ 
.chiquito {
    width: 63px;
    height:97px;
    margin-top: 33%;
    margin-left: 25%;
    position: absolute;
    background: url(../images/personajeChiquitoCaminando.png) left center no-repeat; 
    animation: hacerseChiquito 1s steps(6) forwards;  
}

/* ANIMACION DEL PERSONAJE HACIENDOSE CHIQUITO PARA ESQUIVAR EL PAJARO */
@keyframes hacerseChiquito {
    0% {background-position: -374px;}
}

/* CLASE QUE MUESTRA AL PERSONAJE CON SU ANIMACION CUANDO MUERE
TIENE EL TAMAÑO DE LA IMAGEN DEL NENE, LOS MARGENES DE ARRIBA E IZQUIERDA
SON PUESTOS SEGUN LAS NECESIDADES DE NUESTRA PAGINA
SE INVOCA A LA IMAGEN DEL PERSONAJE Y SE LLAMA A SU ANIMACION 
NO-REPEAT SE USA PARA QUE SOLO LO HAGA UNA VEZ*/
.muere {
    width: 120px;
    height:269px;
    margin-top: 24%;
    margin-left: 25%;
    position: absolute;
    background: url(../images/muerePersonaje.png) left center no-repeat; 
    animation: morir 2s steps(15) forwards;  
}

/* ANIMACION CUANDO EL PERSONAJE SE CHOCA ALGUN OBSTACULO*/
@keyframes morir {
    0% {background-position: 0;}
    100% {background-position: -1810px;}
}

/* CLASE QUE MUESTRA LA MONEDA MAS ALTA CON SU ANIMACION
TIENE EL TAMAÑO DE LA IMAGEN DE LA MONEDA, LOS MARGENES DE ARRIBA E IZQUIERDA
SON PUESTOS SEGUN LAS NECESIDADES DE NUESTRA PAGINA
SE INVOCA A LA IMAGEN DE LA MONEDA Y SE LLAMA A SU ANIMACION 
INFINITE SE USA PARA QUE SE REPITA INDEFINIDAMENTE LE MONEDA*/
.moneda {
    right: 0;
    bottom: 55%;
    width: 78px;
    height:87px;
    margin-top: 23%; 
    margin-left: 50%;
    position: absolute;
    background: url(../images/monedas.png) left center; 
    animation: girarMoneda 3s steps(6) infinite;  
    overflow: visible;
}

/* CLASE QUE MUESTRA LA MONEDA MAS BAJA CON SU ANIMACION
TIENE EL TAMAÑO DE LA IMAGEN DE LA MONEDA, LOS MARGENES DE ARRIBA E IZQUIERDA
SON PUESTOS SEGUN LAS NECESIDADES DE NUESTRA PAGINA
SE INVOCA A LA IMAGEN DE LA MONEDA Y SE LLAMA A SU ANIMACION 
INFINITE SE USA PARA QUE SE REPITA INDEFINIDAMENTE LE MONEDA*/
.moneda1 {
    right: 0;
    bottom: 45%;
    width: 78px;
    height:87px;
    margin-top: 23%; 
    margin-left: 50%;
    position: absolute;
    background: url(../images/monedas.png) left center; 
    animation: girarMoneda 6s steps(6) infinite;  
    overflow: visible;
}

/* GENERA EL DESPLAZAMIENTO Y ROTACION DE LAS MONEDAS */
@keyframes girarMoneda {
    0%{right: 0% }
    10%{right: 10% }
    20%{right: 20% }
    30%{right: 30% }
    40%{right: 40% }
    50%{right: 50% }
    60%{right: 60% }
    70%{right: 70% }
    80%{right: 80% }
    90%{right: 90% }
    100%{right: 100%;background-position: -470px; }
}

/* ANIMACIÓN PARA CUANDO SE AGARRA UNA MONEDA */
.agarraMoneda {
    right: 60%;
    bottom: 55%;
    width: 200px;
    height: 211px;
    margin-top: 23%;
    margin-left: 50%;
    position: absolute;
    background: url(../images/estrellaAgarrada.png) left center no-repeat; 
    animation: agarrar 0.5s steps(4) forwards;  
}

/* CLASE QUE MUESTRA UNA IMAGEN CUANDO EL PERSONAJE AGARRA UNA MONEDA
TIENE EL TAMAÑO DE LA IMAGEN REQUERIDA, LOS MARGENES DE ARRIBA E IZQUIERDA
SON PUESTOS SEGUN LAS NECESIDADES DE NUESTRA PAGINA
SE INVOCA A LA IMAGEN Y SE LLAMA A SU ANIMACION 
NO-REPEAT SE USA PARA QUE SE MUESTRE SOLO CUANDO AGARRA UNA MONEDA*/
.agarraMoneda1 {
    right: 60%;
    bottom: 45%;
    width: 200px;
    height: 211px;
    margin-top: 23%;
    margin-left: 50%;
    position: absolute;
    background: url(../images/estrellaAgarrada.png) left center no-repeat; 
    animation: agarrar 0.5s steps(4) forwards;  
}

/* ANIMACION CUANDO EL PERSONAJE AGARRA UNA MONEDA*/
@keyframes agarrar {
    0% {background-position: 0;}
    100% {background-position: -806px;}
}

/* CLASE QUE MUESTRA EL PAJARO CON SU ANIMACION
TIENE EL TAMAÑO DE LA IMAGEN DEL PAJARO, LOS MARGENES DE ARRIBA E IZQUIERDA
SON PUESTOS SEGUN LAS NECESIDADES DE NUESTRA PAGINA
SE INVOCA A LA IMAGEN DEL PAJARO Y SE LLAMA A SU ANIMACION */
.pajaro {
    width: 135px;
    height: 84px;
    margin-top: 30%;
    margin-left: 25%;
    position: absolute;
    background: url(../images/pajaro.png) left center; 
    animation: volar 5s steps(4) infinite;  
}

/* ANIMACION DEL PAJARO VOLANDO 
GENERA LA ANIMACION DE VOLAR Y EL DESPLAZAMIENTO EN LA PANTALLA*/
/*@keyframes volar {
    0%{right: 0% }
    10%{right: 10% }
    20%{right: 20% }
    30%{right: 30% }
    40%{right: 40% }
    50%{right: 50% }
    60%{right: 60% }
    70%{right: 70% }
    80%{right: 80% }
    90%{right: 90% }
    100%{right: 100%;background-position: -541px;}
}*/

@keyframes volar {
    0%{right: 0%; bottom: 30%; }
    10%{right: 10% }
    20%{right: 20% }
    30%{right: 30%; bottom:40%; }
    40%{right: 40% }
    50%{right: 50%; bottom: 30%; }
    60%{right: 60% }
    70%{right: 70% }
    80%{right: 80%; bottom: 40%; }
    90%{right: 90% }
    100%{right: 100%;background-position: -541px;}
}

/* CLASE QUE MUESTRA LA PIEDRA CON SU ANIMACION
TIENE EL TAMAÑO DE LA IMAGEN DE LA PIEDRA, LOS MARGENES DE ARRIBA E IZQUIERDA
SON PUESTOS SEGUN LAS NECESIDADES DE NUESTRA PAGINA
SE INVOCA A LA IMAGEN DE LA PIEDRA Y SE LLAMA A SU ANIMACION */
.piedra {
    width: 52px;
    height: 53px;
    top: 70%;
    right: 0%;
    position: absolute;
    background-image:url(../images/piedras.png) ; 
    animation: piedras 10s linear infinite;
}

/* ANIMACION DE LA PIEDRA, DESPLAZAMIENTO A TRAVÉS DE LA PANTALLA*/
@keyframes piedras {
    to {
        right: 130%;
        transform: translateX(-120%);
    }
}

/* ESTILO AL DIV QUE CONTIENE LA CANTIDAD DE VIDAS Y AL QUE CONTIENE LOS PUNTOS */
.puntosVidas{
    margin-left: 10px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2em;
    background-color: rgba(238, 214, 55, 0.5);
    border-radius: 20%;
    position: absolute;
}

/* ESTILO A LA ZONA DONDE APARECE LA MONEDA Y EL MUÑEQUITO MOSTRANDO LOS PUNTOS Y LAS VIDAS */
.puntos {
    margin-top: 1%;
    margin-left: 30%;
    position: absolute;
}

.vidas {
    margin-top: 1%;
    margin-left: 60%;
    position: absolute;
}

/* PARA ESCONDER ELEMENTOS EN EL DOM */
.esconder{
    display: none;
}

/* ESTILO PARA LOS BOTONES DE INICIO Y REINICIO DE JUEGO */
.btn{
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 10px;
    position: absolute;
    width: 100px;
    height: 30px; 
    text-align: center;
    color:black;
    font-size: 1em;
    background-color:rgba(238, 214, 55, 0.5);
    
}
.btn:hover{
    background-color:rgba(141, 125, 24, 0.5);
}

.btnAyuda{
    margin-left: 115px;
}

/* ESTILO PARA EL CARTEL DE AYUDA */
.ayuda{
    border-radius: 10px;
    width: auto;
    margin: 10px;
    margin-left: 70%;
    padding: 10px;
    padding-top: 0px;
    position: absolute;
    background-color: rgba(238, 214, 55, 0.9);
}

h3{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 2em;
}


